<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="false">

  <extensions>
    <add assembly="NLog.SignalR" />
  </extensions>

  <variable name="appName" value="NLog.SignalR.Sample.Command" />

  <targets async="true">
    <target xsi:type="SignalR"
            name="signalr"
            uri="http://localhost:1860"
            hubName ="LoggingHub"
            methodName ="Log"
            layout="${appName}::${message} ${onexception:${exception:format=type,message,method:maxInnerExceptionLevel=5:innerExceptionSeparator=-->:separator=/}}"
            />

  </targets>
  <rules>
    <logger name="*" minlevel="Trace" writeTo="signalr" />
  </rules>
</nlog>
